<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs",{
        title: "MOVIES.NET | GENRES"
      }) %> 

<body>

    <%- include("./partials/header.ejs") %> 

   <main class="genres_main">

       <h2 class="genres_h2">Generos</h2>

       <section class="genres_section">

           
               <% for( let i = 0; i < genres.length; i++ ) { %>
                <article class="card">
                    <a href="/genres/detail/<%= genres[i].id %> ">
                        <img src="/img/genres/<%= genres[i].file %>" alt="">
                        
                        <li>
                            <a><%= genres[i].name %></a>
                        </li>

                    </a>
                    
                </article>
               <% } %>
       
       </section>
   </main>
   <%- include("./partials/footer.ejs") %> 
</body>

</html>