<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs",{
        title: "MOVIES.NET | MOVIES DETAIL"
      }) %> 
<body>
    <%- include("./partials/header.ejs") %> 

    <main class="moviesDetail_main">
        <h1><%= movie.title %> </h1>    
        <section class="moviesDetail_section">
            <article>
                <a href="" class="moviePlay">
                    <i class="fas fa-play"></i>
                </a>
            </article>

        </section>

        <section class="moviesDetail_description">

            <div class="description">
                <p><%= movie.description %> </p>
                <p>Fecha de estreno: <%= release_date %> </p>
                <p>Duracion: <%= movie.length + ' min'%> </p>
                <p>Calificación: <%= movie.rating %> </p>
                <p>Premios: <%= movie.awards %> </p>
                <a href="/movies/edit/<%= movie.id %> ">Editar pelicula</a>
            </div>
            <div class="img_container">
                <img src="/img/movies/<%= movie.image %> " alt="">
            </div>

        </section>

        <br>

    </main>

    <%- include("./partials/footer.ejs") %> 
</body>
</html>