<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs",{
        title: "MOVIES.NET | MOVIES"
      }) %> 

<body>
    <%- include("./partials/header.ejs") %> 

    <main class="movies_main">
        <h2 class="movies_h2">Peliculas</h2>

        <section class="movies_cards">
            <% for( let i = 0; i < movies.length; i++ ) { %>
                
                <article class="card">
                    <a href="/movies/detail/<%= movies[i].id %>">
                        <img src="/img/movies/<%= movies[i].image %> " alt="">
                    </a>
                    <span><%= movies[i].title %> </span>
                </article>


            <% } %>
        </section>

        
        <section class="movies_section">
    
            <ul class="movies_list">
                <% for( let i = 0; i < movies.length; i++ ) { %>
                <li class="">
                    <a class="" href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
                </li>
                <% } %>
                
            </ul>

            <div class="section_image">
                
            </div>
        </section>

    </main>

    <%- include("./partials/footer.ejs") %> 
</body>

</html>